.job a {
    color: #1F1F1F;
    text-decoration: none;
}

.job a:hover {
    text-decoration: underline;
}

.job .info-panel {
    border-right: solid 1px black;
}
@media (max-width: 992px){
    .job .info-panel {
        border: none;
    }   
}