#home .info {
    font-size: 24px;
    text-align: left;
}

#home .button-company, .button-student, .button-jobs {
    border-radius: 5px;
    font-size: 22px;
    color: black;
    background-color: transparent;
    border: solid 1px black;
}
#home .button-jobs {
    font-size: 16px;
}
#home .button-company:hover, .button-student:hover, .button-jobs:hover {
    color: white;
    background-color: black;
}
#home .button-company:focus , .button-student:focus, .button-jobs:focus {
    box-shadow: none;
}

.company-card-logo {
    height: 125px;
    width: 125px;
    border-radius: 50px;
    margin-left: 0px;
    margin-right: 0px;
}


#home .pros-icon {
    width: 40px;
    height: 40px;
}
#home .pros-header {
    font-size: 24px;
    font-weight: bold;
}
#home .pros-desc {
    font-size: 18px;

}