.fp-header {
    border: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.forgot-password .modal-content {
    background-color: rgb(252, 232, 232);
}
.forgot-password .modal-content {
    background-color: red;
}
.forgot-password .modal-body {
    background-color: red;
}

.forgot-password .custom-bg {
    background-color: blue;
}